@charset "utf-8";
body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  background-color: #f7ffe3;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
  box-sizing: border-box;
}

.cart-button {
  padding: 0.5rem 0.75rem;
  border: 1px solid #adadad;
  border-radius: 1rem;
  background-color: #d3d3d3;
  font-size: 1rem;
}

.cart-button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #adadad;
}

.goods-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.goods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.goods-item:hover {
  cursor: pointer;
}

.goods-item h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2.5rem;
}

.goods-item p {
  margin: 2rem 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.75rem;
}